@font-face {
  font-family: 'Jameel Noori Nastaleeq';
  src: url('./assets/fonts/JameelNooriNastaleeq.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Nastaliq Urdu', 'Jameel Noori Nastaleeq', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,a,p,span,div,li,ul,ol {
  margin: 0;
  font-family: 'Noto Nastaliq Urdu', 'Jameel Noori Nastaleeq', sans-serif;
  padding: 0;
}